* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Carter One", cursive;
}

.App {
  text-align: center;
}

h1 {
  color: black;
}

h2,
h3,
h5 {
  color: white;
}

hr.new {
  border: 1px solid white;
}

.navbar {
  top: 0;
}

.site-footer {
  bottom: 0;

  left: 0;
  position: relative;
}

video {
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.content {
  width: 400px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.learn-col {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.gear-col {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.home-col {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.drumbook:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
